.banner{
    position: relative;
    z-index: 1;
    padding-top: 310px;
    padding-bottom: 130px;
    overflow: hidden;
    @media(min-width:2500px){
        padding-top: 360px;
        padding-bottom: 300px;
    }
    @include mmd{
        padding-top: 180px;
        padding-bottom: 90px;
    }
    @include sm{
        padding-top: 150px;
        padding-bottom: 70px;
    }
    &::before{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 74.95%, #070913 98.56%), linear-gradient(180deg, rgba(0, 0, 0, 0.98) -23.01%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.30) 21.48%, rgba(0, 0, 0, 0.00) 100%);
    }
    .herobg img{
        object-fit: cover;
    }
    .herobg img, .heroshap{
        position: absolute;
        left: 0%;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;

    }
    .heroshap{
        z-index: -1;

    }
    &-content{
        h1{
            color: $heading;
            font-style: normal;
            text-transform: uppercase;
            span{
                font-family: 'Druk Trial', sans-serif;
                color: $primary;
                text-align: center;
                text-shadow: 0px 4px 50.1px rgba(0, 0, 0, 0.25);
                @include font-180;
                font-style: normal;
                font-weight: 500;
                line-height: 110%; /* 198px */
            }
            margin-bottom: 25px;
        }
        p{
            @include font-20;
            margin-bottom: 38px;
        }
        .boxed-btn{
            img{
                max-width: 16px;
            }
        }
    }
}