@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/druk-trial');
html, html body{
    overflow-x: hidden;
}
  
body {
    font-family: "Poppins", sans-serif;
    @include font-16;
    font-weight: 400;
    background-color: #070913;
    color: $paragraph;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Druk Text Wide Trial', sans-serif;
    
};
h1{
    @include font-75;
    font-weight: 900;
    line-height: 130%;

}
h2{
    @include font-52;
    font-weight: 700;
    color: $heading;
    line-height: 130%;
    span{
        color: $primary;
    }
}
h3{
    // @include font-28;
}
h4{
    @include font-22;
}
p {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}
figure{
    margin-bottom: 0;
}
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    @include transition;
}

input,
textarea,
button {
    padding: 10px 25px;
    outline: none;
    @include transition;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: #f3f3f3;
}

nav ul li {
    display: inline-block;
    position: relative;
    @include transition;
    font-family: "Inter", sans-serif;
}


/*Hide number spin button*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
   max-width: 1560px;
}

.boxed-btn{
    color: $white;
    @include font-22;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.2px */
    border-radius: 14px;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    border-radius: 8px;
    background: $primary;
    border: 1px solid transparent;
    display: inline-block;
    padding: 16px 50px;
    padding-top: 20px;
    @include sm{
        padding-inline: 30px;
    }
    @include transition;
    &:hover{
        background: rgba(64, 128, 253, 0.08);
        backdrop-filter: blur(2.5px);
        border: 1px solid $primary;
    }
}
.dual_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.boxed-btn.transparent{
    border-radius: 8px;
    border: 1px solid $primary;
    background: rgba(64, 128, 253, 0.08);
    backdrop-filter: blur(50px);
    &:hover{
        border: 1px solid $primary;
        background: $primary;
        backdrop-filter: blur(300px);
    }
}
.section-title{
   h2{
        font-family: "Druk Text Wide Trial";
        @include font-75;
        color: $white;
        text-transform: uppercase;
        span{
            font-weight: 700;
            line-height: 1;
            letter-spacing: 2.9px;
            text-transform: uppercase;
            @include font-145;
            color: $primary;
            font-family: "Druk Trial";
        }
   }
}



