@keyframes headerAnimation {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    padding: var(--bs-navbar-padding-y) 0;
    --bs-navbar-padding-y: 30px;
    @include lg {
        --bs-navbar-padding-y: 0;
    }
    @include md {
        --bs-navbar-padding-y: 0;
    }
    @include sm {
        --bs-navbar-padding-y: 0;
    }
    &.position-fixed {
        animation: headerAnimation .5s linear;
        --bs-navbar-padding-y: 24px;
        @include md {
            --bs-navbar-padding-y: 0px;
        }
        @include sm {
            --bs-navbar-padding-y: 0;
        }
    }
    &-menu {
        @include lg {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: #070913, $alpha: .95);
            padding: 24px 16px;
            transform: translateY(200%);
            @include transition;
            &.show-menu {
                transform: translate(0, 0);
            }
        }
        @include mmd {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: #070913, $alpha: .95);
            padding: 24px 16px;
            transform: translateY(200%);
            @include transition;
            &.show-menu {
                transform: translate(0, 0);
            }
        }
        & .heading-actions {
            @include lg {
                margin-top: 32px;
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
            @include mmd {
                margin-top: 32px;
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
            @include sm {
                margin-top: 26px;
            }
        }
    }
    &-link {
        @include font-18;
        color: $_C2C3D0;
        font-family: "DM Sans", sans-serif;
        display: block;
        padding: 10px 20px;
        cursor: pointer;
        line-height: 160%;
        font-weight: 400;
        text-transform: capitalize;
        @include lg {
            padding: 10px 12px;
        }
        @include mmd {
            font-weight: 600;
            @include font-20;
            color: $heading;
            border-radius: 10px;
            padding: 16px 0px;
        }
        &:hover,
        &.active {
            color: $white;

        }
    }
    &-actions {
        grid-gap: 12px;
        @include sm {
            grid-gap: 8px;
        }
    }
    & .btn {
        --bs-btn-border-width: 1px !important;
        --bs-btn-padding-x: 20px !important;
        --bs-btn-padding-y: 7px !important;
        &:not(.bg-primary) {
            border-color: $primary !important;
            color: $primary !important;
            &:hover {
                color: $white !important;
            }
        }
    }
    & .container {
        position: relative;
        max-width: 1520px;
        border-radius: 16px;
        padding: 20px;
        border: 1px solid rgba(152, 190, 255, 0.12);
        background: rgba(152, 190, 255, 0.06);
        backdrop-filter: blur(17px);
        @include lg{
            border-radius: 0;
        }
        @include mmd{
            border-radius: 0;
        }
    }
  
    &-toggler {
        padding: 0;
        border: none;
        background-color: transparent;
        color: $heading;
        display: flex;
        align-items: center;
        justify-content: center;
        & svg {
            --width: 40px;
            width: var(--width);
            height: var(--width);
            @include sm {
                --width: 40px;
            }
            @include ssm {
                --width: 35px;
            }
        }
    }
button:focus {
    outline: none;
    border-color: $black;
}
.logo{
    img {
        width: 214px;
        @include lg{
            width: 200px;
        }
        @include mmd{
            width: 190px;
        }
        @include sm{
            width: 180px;
        }
    }
}
.boxed-btn{
    margin-left: 10px;
    padding: 12px 24px;
    padding-top: 15.5px;
    @include mmd{
        margin-left: 0;
        margin-top: 10px;
    }
}
}


.main_menu{
    padding: 8px;
}