.marquee {
    padding-block: 100px;
    border-left: none;
    border-right: none;
    width: 110%;
    left: -5%;
    position: relative;
    z-index: 99;
    overflow-x: hidden;
    @include sm{
        padding-block: 50px;
    }
    .rfm-initial-child-container {
        gap: 70px;
        overflow: hidden;
        @include sm{
            gap: 30px;
        }
    }
}

.rfm-child {
    figure {
        img {
            max-width: 1100px;
            @include mmd{
                max-width: 600px;
            }
            @include sm{
                max-width: 400px;
            }
            @include ssm{
                max-width: 250px;
            }
        }
    }
}