.showcase{
    position: relative;
    z-index: 99;
    padding-top: 50px;
    @include sm{
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .rfm-child {
        margin-right: 30px;
        position: relative;
        @include sm{
            margin-right: 20px;
        }
    }
    .single-item{
        position: relative;
        z-index: 1;
        width: 366px;
        height: 100%;
        @include mmd{
            height: 100%;
        }
        @include sm{
            width: 220px;
        }
    }
    .showcase-info{
        position: absolute;
        width: 96%;
        bottom: 2%;
        left: 2%;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(126.5px);
        padding: 20px;
        @include sm{
            border-radius: 10px;
            padding: 10px;
        }
        .right img {
            max-width: 20px;
            height: auto;
            gap: 22px;
        }

        h4{
            color: $white;
            opacity: 0.7;
            font-family: "Poppins", sans-serif;
            @include font-18;
            font-weight: 400;
            line-height: 150%;
            margin: 0;
        }
        p{
            color: $white;
            @include font-18;
            font-weight: 500;
            line-height: 150%; /* 27px */
        }
    }
}
.showcaseOne{
    padding-bottom: 50px;
    @include sm{
        padding-bottom: 30px;
    }
    .single-item{
        position: relative;
        z-index: 1;
        width: 657px;
        height: 90px;
        @include mmd{
            width: 400px;
            height: 70px;
        }
        @include mmd{
            width: 300px;
            height: auto;
        }
    }
}