.toknomics{
    position: relative;
    z-index: 1;
    padding-top: 150px;
    padding-bottom: 80px;
    @include lg{
        padding-top: 150px;
        padding-bottom: 170px;
    }
    @include mmd{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    @include sm{
        padding-top: 150px;
        padding-bottom: 100px;
    }
    @include ssm{
        padding-top: 0px;
        padding-bottom: 100px;
    }
    .tokenomicsBobule{
        @include postion_shap_middle;
    }
    & .vs_and{
        position: absolute;
        top: 230px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        -webkit-text-stroke-width: 0.5753846168518066;
        -webkit-text-stroke-color: #000;
        font-family: "Druk Text Wide Trial";
        font-size: 145px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 187px */
        text-transform: uppercase;
        background: linear-gradient(180deg, #1D1F28 0.16%, #070913 74.08%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 450px;
        text-align: center;
        z-index: -1;
        @include mmd{
            position: relative;
            top: 100px;
            font-size: 100px;
        }
        @include ssm{
            font-size: 80px;
            position: relative;
            top: 30px;
        }
    }

    .toknomics-content{
        position: relative;
        z-index: 1;
    }

    .tokenLeftImg img, .tokenRightImg img{
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        max-width: 1000px;
        width: 110%;
        @include mmd{
            max-width: 700px;
            width: 100%;
        }
    }
    .tokenRightImg img{
        transform: translate(-50%, -50%);
    }
    .inner{
        max-width: 610px;
        margin-inline: auto;
        padding-top: 100px;
        .section-title{
            h2{
                @include font-50;
                line-height: 1;
                span{
                    @include font-95;
                }
                margin-bottom: 30px;
            }
        }
        P{
            margin-bottom: 10px;
            @include font-16;
            word-wrap: break-word;
        }
      
        .boxed-btn{
            margin-top: 30px;
        }
    }
    .toknomics-content.left{
        .boxed-btn{
            padding: 10px 33px;
            padding-top: 13px;
            @include font-16;
        }
        .boxed-btn.transparent{
            color: #4080FD;
            &:hover{
                color: $white;
            }
        }
    }
    .toknomics-content.right{
        @include mmd{
         margin-top: 100px;
        }
        @include ssm{
         margin-top: 0px;
        }
       .inner{ 
        h2{
            @include font-40;
            line-height: 1;
            span{
            @include font-75;
            display: block;
            color: #FC253E;
            }
        }
            p{
                font-size: 14px;
                max-width: 530px;
                margin-inline: auto;
            }
            .tokenNumber{
                max-width: 550px;
                margin-inline: auto;
            }
            .boxed-btn{
                padding: 10.858px 34.746px;
                border-radius: 4.343px;
                background: #FC253E;
                border-color:#FC253E ;
                font-size: 14px;
                &:hover{
                    background: rgba(252, 37, 62, 0.10);
                    backdrop-filter: blur(27.145648956298828px);

                }
            }
            .boxed-btn.transparent{
                border-radius: 4.343px;
                border: 0.543px solid #FC253E;
                background: rgba(252, 37, 62, 0.10);
                backdrop-filter: blur(27.145648956298828px);
                &:hover{
                    background: #FC253E;

                }
            }
       }
    }
    P b{
        word-break: break-word;
    }
}